@media screen and (min-width:1200px){
    #icon-menu{
        display: none;
    }
          
}

@media screen and (max-width:1199px) and (min-width:46.185em){
    .menu-breakfast  {
        width: 100%;
        margin: 0;
        margin-left:auto;
        margin-right:auto;
    }
    .menu-breakfast__1  {
        position: relative;
        width: 47%;
        margin-bottom: 20px;

    }
    
    .menu-breakfast__icon h6 {
        font-size: 1.4rem;
    }

    .sell-and-check span {
        font-size: 1.6rem;
    }

    .link-cart a {
        padding: 10px 20px;
        font-size: 1rem;
    }

    .item-action{
        font-size: 1.2rem;
    }
}
    
@media (max-width:46.185em){
    #aa{
        display: flex;
    }
    .header .menu {
        padding: 12px 15px;
    }
    .icon-menu{
        display: flex;
    }
    
    .header .close-nav-menu > i{
        display: block;
    }

    .header .close-nav-menu > i{
        height: 5px;   
        width: 15px;
        font-size: 3.2rem;
        color: #fff;
        padding: 10px 15px;
    }
    

    .header .nav-menu{
        position: fixed;
        display: none;
        width: 270px;
        height: 345px;
        top: 0;
        right: 0;
        border: 3px solid   var(--primary-color);
        border-radius: 2px;
        overflow-y: auto;
        background-color:#434242;
        padding: 15px 0;
        z-index: 99;
        transition: all 0.5s ease;

    }

    .header .menu > .menu-item > .sub-menu{
            display: none;
            width: 100%;
            position: relative;
            visibility: visible;
            background-color: transparent;
            overflow: hidden;
        }

    .header .menu > .menu-item > .sub-menu > .menu-item > a{
        padding: 12px 45px;
        color: #fff;
        border-bottom: 1px solid #333;
    }
    
    .header .menu > .menu-item{
        display: block;
        width: 100%;
        margin: 0px;
    }    

    .header .menu > .menu-has-children > a{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

     .header .menu > .menu-item > a{
        color: #fff;
        padding: 12px 15px;
        border-bottom: 1px solid #333;

    }

     .header .menu > .menu-item:first-child > a{
        border-top: 1px solid #333;

    }

    .header .menu > .menu-item > a .plus::before, 
    .header .menu > .menu-item > a .plus::after{
        border-top: 7px solid #fff;

    }

    .logo-food {
        width: 100%;
    }

  
    .logo-food img{
        height: 30px;
        width: 140px;
    }

    .header .icon-menu > .icon-information {
        width: 35px;
    }


    /* icon */
    .header .icon-menu > .icon-information > a {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header .icon-menu > .icon-information > .sub-icon{
        opacity: 1;
        visibility: visible;
        display: none;
    }

    /* slider */
    .slider {
        display: flex;
        flex-direction: column;
        height: 465px;
        margin: 0;
        padding: 0;
        position: relative;

    }

    .slider__shop {
        font-size: 1.2rem;
    }

    .slider__pencel {
        display: none;
        
    }

    .slider__view{
        display: none;
    }

    .slider__shop {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 10%;
    }
    .slider__img img {
        margin: 0;
        width: 100%;
    }
    .slider__pen {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .slider-left{
        position: absolute;
        left: 5%;
        bottom: 10%;
    }

    .slider-left h1{
        font-size: 5rem;
        line-height: 100px;
      
    
    }

    .slider__pen h1 {
        font-size: 4rem;
    }

    .pen__call h1 {
        font-size: 4rem;
    }

    .slider__display{
        display: flex;
        flex-direction: column;
    }
    .slider__photo {
        background-size: cover;
        width: 100%;
        height: 55%;
        margin-right: 0;
    }

    .slider__img {
        width: 55%;
        height: 100%;
        margin-right: 0;
    }
    /* content */
  
    .comment-two {
        display: inline-block;
        width: 100%;
        height: 100%;
    }

    .logo-img {
        /* background-color: #fff; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo-comment h2 {
        
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .logo-comment p {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .logo-img {
        margin: 0;
    }

    .logo-salads {
        display: block;
        background-color: #f8f8f8;
        padding: 20px 10px;
        margin-top: 0;
        

    }
    .comment-one {
        height: 1000%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px;
    
    }
  

    .contract-all{
        padding: 50px 10px;
    }

    .food-cate {
        display: block;
    }

    .contract-food{
        display: block;
      }

    .food-up {
        position: relative;
        width: 100%;
        height: 210px;
        margin-left: 0px;
        margin-bottom: 15%;
        
    }

    /* menu breakfast */
    #list-tooltip {
        display: flex;
        flex-direction: column;
    }

    .tab-item {
        width: 100%;
    }

    .menu-breakfast  {
        width: 100%;
        margin: 0;
        margin-left:auto;
        margin-right:auto;
    }
    .menu-breakfast__1  {
        position: relative;
        width: 95%;
        margin-bottom: 20px;

    } 

    .snack {
        height: 100%;
    }

    #list-tooltip li button {
        font-size: 1.4rem;
    }

    .child-box {
        left: 10px;
    }

    .box-content {
        width: 80%;
        display: inline-flex;
        flex-direction: column;
        height: 80vh;
        overflow: auto;
    }

    .box-left {
        height: 80%;
        overflow: hidden;
    }

    .box-right {
        height: 100%;
    }
    #but-amount {
        margin: 0;
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .plus-minus {
        display: flex;
    }

    
    #but-amount .link-cart a {
        margin: 0;
        font-size: 1.2rem;
        font-weight: 100;
    }

    .child-box p {
        font-size: 1.6rem;
    }
    
    .child-box a {
        font-size: 1.6rem;
    }

    .child-box a span {
        font-size: 1.6rem;
        font-weight: 100;
    }

    .add-info li a i {
        font-size: 1.8rem;
    }
    


    /* footer */
    .footer-all {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 150%;
        margin-top: 40px;
        background-color: var(--green--color);
    }

    .row{
        display: block;
        padding: 20px 5px 0px 5px;

    }

    .col-3 {
      
        margin-left: 10px;
    }

    .footer-comment {
        margin-top: 20px;
        width: 250px;
    }

    .footer-icon {
     
        display: flex;
}   

    .footer-icon i {
        margin-right: 10px;
    }   

    .footer-link {
        width: 130px;
    }

    .footer-content p {
        margin-top: 50px;
        width: 120px;
    }

    .footer-house {
        width: 350px;
        font-size: 13px;
    }
    .footer-mail a {
        display: flex;
    }

    .footer-mail i{
        padding-top: 5px;
    }

    .footer-phone a {
        display: flex;
    }

    .footer-phone i{
        padding-top: 5px;
    }

        
    .footer-end {
        margin-top: 50px;
    }

    .comment::before {
        content: "";
        width: 100%;
        height: 1px;
        background-color: #ccc;
        position: absolute;
        top: 935px;
    }
}




/* boyd-shopping */
.tab-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab-item button {
    width: 100%;
}