* {
    margin: 0;
    padding: 0;
    font-family: "Roboto",Helvetica,Arial,sans-serif;
}
:root {
    --fb-color:#4867aa;
    --gg-color:#db4437;
    --green--color :#c2ecdae0;
    --text-color:#9B9B9B
    
   
}

html {
    /* 10px */
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
  
}

body {
    background-color: rgb(245, 245, 250);
}

.col-4 {
    width: 18.66667% ;
    position: relative;
    margin-right: 10px;
}

.col-8 {
    width: 81.33333%;
    position: relative;
    margin-left: 10px;
}


.active-profile {
    background-color: rgba(0, 0, 0, 0.1);
}

.open {
    opacity: 1;
}

.line-hover {
    color: #1F68BB !important;
}
