* {
    margin: 0;
    padding: 0;
    font-family: "Roboto",Helvetica,Arial,sans-serif;
}
:root {
    --fb-color:#4867aa;
    --gg-color:#db4437;
    --green--color :#c2ecdae0;


}

html {
    /* 10px */
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
  
}

.active-profile {
    background: rgba(0, 0, 0, 0.2);
    height: 56px;
    padding: 5px;
}



.row-profile {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 30px;
}

.col-4 {
    min-width: 300px;
    position: relative;
    padding: 0 15px 5px;
    width: 20%;
}

.col-8 {
    width: 915px;
    position: relative;
}

.br-hover:hover {
    background-color: rgba(0, 0, 0, 0.1);
}



.icon-close:hover {
    background-color: rgba(0, 0, 0, 0.1);
}



.bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.update {
    color: rgba(3, 3, 255, 0.7);
    font-size: 1.6rem;
    width: 100%;
    padding: 5px 10px ;
    border-radius: 5px;
    border: 1px solid rgba(3, 3, 255, 0.7);
}




/* PC */
@media screen and (min-width:1270px) {
    
    .list {
        margin-top: 4px;
        font-size: 29px;
    }
    .month {
        margin-right: 7px;
    }

    .days {
        margin-right: 7px;
    }

    .form-nick-name {
        justify-content: unset;
    }

    .form-nick-name .nick-name-input {
        margin-left: 20px;
    }

    .form-name .full-name-input {
        margin-left: 30px;
    }

    .form-name {
        justify-content: unset;
    }


    .list-info__item:not() {
        padding: 10px;
        margin-bottom: 0;
    }

    #list {
        display: none;
        font-size: 29px;
        margin-top: 4px;
    }

    .account.account-two {
        display: flex;
    }

    .information h1 {
        margin-left: 15px;
    }

    .col-8 {
        width: 100%;
    }

    .col-4 {
        display: none;
    }
    .icon-list {
        display: none;
    }

    .information-all {
        width: 100%;
        display: flex;
        justify-content: space-around;
        background-color: white;
    }

    .icon-close {
        display: none;
    }
}


/* Mobile */
@media only screen and (max-width:838px){
    .list-info.two {
        position: relative;
        top: 26px;
        right: 60px;
    }

    .year {
        margin-right: 0;
    }

    .date {
        padding-left: 11px;
        padding-right: 9px;
        margin-right: 0;
    }

    .info-list {
        text-align: start;
    }

    .info-list > aside {
        width: 100%;
        margin-left: 11px;
        margin-top: 50px;
    }

    .information-right {
        width: 100%;
    }
    .information-left {
        width: 100%;
    }

    .information-all {
        flex-wrap: wrap;
    }
}