<footer class="footer-information">
    <div class="grid footer-all">
        <div class="raw">
            <div class="col-3">
                <div class="footer-img"><img src="./access/header/img/foodsto-logo.png" alt=""> </div>
                <div class="footer-comment">
                    <p>Subscribe to our newsletter and get 10% off your first purchase.</p>
                </div>
                <div class="footer-icon">
                    <a href=""> <i class="fa-brands fa-square-facebook"></i></a>

                    <a href=""><i class="fa-brands fa-square-instagram"></i></a>

                    <a href=""> <i class="fa-brands fa-square-twitter"></i></a>

                    <a href=""><i class="fa-brands fa-linkedin"></i> </a>
                </div>
            </div>
            <div class="col-3">
                <div class="footer-content">
                    <p> Link </p>
                </div>
                <div class="footer-link">
                    <a href=""> <i class="fa-solid fa-angle-right"></i> My account</a>
                </div>
                <div class="footer-link">
                    <a href=""><i class="fa-solid fa-angle-right"></i> Checkout </a>
                </div>

                <div class="footer-link">
                    <a href=""><i class="fa-solid fa-angle-right"></i> Wishlist </a>
                </div>

                <div class="footer-link">
                    <a href=""><i class="fa-solid fa-angle-right"></i> Shopping Cart </a>
                </div>
            </div>


            <div class="col-3">
                <div class="footer-content">
                    <p> Information </p>
                </div>
                <div class="footer-link">
                    <a href=""> <i class="fa-solid fa-angle-right"></i> About Us </a>
                </div>
                <div class="footer-link">
                    <a href=""> <i class="fa-solid fa-angle-right"></i> Our Team </a>
                </div>

                <div class="footer-link">
                    <a href=""> <i class="fa-solid fa-angle-right"></i> Contract Us </a>
                </div>

                <div class="footer-link">
                    <a href=""> <i class="fa-solid fa-angle-right"></i> Blog </a>
                </div>
            </div>


            <div class="col-3">
                <div class="footer-content">
                    <p>
                        Quick Contact
                    </p>
                </div>
                <div class="footer-house">
                    <i class="fa-solid fa-house"></i>
                    <span>1234 North Avenue Luke Lane, South Bend, IN 360001</span>
                </div>
                <div class="footer-mail">
                    <a href=""> <i class="fa-solid fa-envelope"></i> dinhthaituan332003@gmail.com </a>
                </div>

                <div class="footer-phone">
                    <a href=""> <i class="fa-solid fa-phone"></i>(84+) +0934160908 </a>
                </div>
            </div>
        </div>
        <div class="comment"></div>

        <div class="footer-and">
            <div class="footer-end">
                <p> Copyright 2023 foodsto All Rights Reserved.</p>
            </div>
        </div>
        <div id="a"></div>
    </div>
</footer>