<header class="header">
    <div class="container" id="ba">
        <div class="header-main">
            <div class="logo-food">
                <a href="/index.html">
                    <img src="/access/header/img/foodsto-logo.png" alt="">
                </a>
            </div>
            <!-- menu -->
            <nav class="nav-menu">
                <div class="close-nav-menu" onclick="closes()">
                    <i class="fa-solid fa-xmark"></i>
                </div>
                <ul class="menu">
                    <li class="menu-item menu-has-children ">
                        <a href="#" class="menu-children">HOME <i class="plus"></i></a>
                        <ul class="sub-menu">
                            <li class="menu-item"><a href="#">Home Main</a></li>
                            <li class="menu-item"><a href="#">Home 1</a></li>
                            <li class="menu-item"><a href="#">Home 2</a></li>

                        </ul>
                    </li>

                    <li class="menu-item menu-has-children">
                        <a href="#" class="menu-children">PAGE <i class="plus"></i></a>
                        <ul class="sub-menu">
                            <li class="menu-item"><a href="#">About Us</a></li>
                            <li class="menu-item"><a href="#">Our Team</a></li>
                            <li class="menu-item"><a href="#">Contract US</a></li>

                        </ul>
                    </li>

                    <li class="menu-item menu-has-children">
                        <a href="#" class="menu-children">SHOP <i class="plus"></i></a>
                        <ul class="sub-menu">
                            <li class="menu-item"><a href="#">Category List</a></li>
                            <li class="menu-item"><a href="#">Shop Grid</a></li>
                            <li class="menu-item"><a href="#">Shop Width Sidebar</a></li>
                            <li class="menu-item"><a href="#">Product Filter</a></li>

                        </ul>
                    </li>

                    <li class="menu-item menu-has-children" id="e">
                        <a href="#" class="menu-children">PRODUCT<i class="plus"></i></a>
                        <ul class="sub-menu">
                            <li class="menu-item"><a href="#">New Product</a></li>
                            <li class="menu-item"><a href="#">On Sale Product</a></li>
                            <li class="menu-item"><a href="#">Blackorder Product</a></li>
                            <li class="menu-item"><a href="#">Out Of Sock Product</a></li>
                            <li class="menu-item"><a href="#">Variation Product</a></li>
                            <li class="menu-item"><a href="#">Grouper Product</a></li>

                        </ul>
                    </li>

                    <li class="menu-item menu-has-children">
                        <a href="#" class="menu-children">BLOG <i class="plus"></i></a>
                        <ul class="sub-menu">
                            <li class="menu-item"><a href="#">One Column Blog</a></li>
                            <li class="menu-item"><a href="#">Two Column Blog</a></li>
                            <li class="menu-item"><a href="#">Three Column Blog</a></li>
                            <li class="menu-item"><a href="#">Left Column Blog</a></li>
                            <li class="menu-item"><a href="#">Right Column Blog</a></li>

                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- icon -->
            <nav class="nav-icon">
                <ul class="icon-menu">
                    <li class="icon-information icon-repon" onclick="iconMenu()"><a href="#"><i
                                class="fa-solid fa-user"></i></a>
                        <ul class="sub-icon">
                            <li class="icon-item"><a class="profile" href="/modules/profile/profile.html">Thông Tin
                                    Cá Nhân</a></li>
                            <li class="icon-item"><a href="/auth/login.html">Đăng Xuất</a></li>
                        </ul>
                    </li>
                    <li class="icon-information icon-repon"><a href="#"><i class="fa-solid fa-heart"></i></a>

                    <li class="icon-information icon-repon" onclick=checkCartProduct()><a><i
                                class="fa-sharp fa-solid fa-cart-shopping" style="position: relative;">
                                <span class="cart-notice">0</span>
                            </i></a>
                    </li>
                    <li class="icon-information icofn-repon"><a href="#"><i
                                class="fa-solid fa-magnifying-glass"></i></a>
                    </li>

                    <li id="aa" class="icon-information icon-repon" onclick="menus()">
                        <i class="fa-solid fa-bars"></i>
                    </li>
                </ul>
        </div>

    </div>
</header>
